.search { margin-top: 7em; }
.tab-content { 
  position: relative;
  margin-bottom: 1em;
}
.tab-content .tab-pane {
  background-color: #fff;
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em;
  padding: 1em;
  min-height: 12em;
}
.example-appear {
  opacity: 0.01;
}
.example-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
 