.journey-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.form-input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #0088ce;
  -moz-outline-radius: 5px;
  text-indent: 5%;
  font-size: 1.3rem;
}

.form-input:focus {
  box-shadow: 0px 0px 0px 3px rgb(0, 136, 206);
  outline-width: 0;
}

.form-input::placeholder {
  text-indent: 5%;
}
.switch-input {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #0088ce;
  border-radius: 50%;
  margin: 0px -10px 0px -10px;
  z-index: 1;
}

.UlSuggestions {
  position: absolute;
  margin-top: .25em;
  width: 96%;
  height: 158px;
  overflow-y: scroll;
  background: white;
  list-style: none;
  border: 1px solid #0088ce;
  color:#0088ce;
  border-radius: 5px;
  padding:0;
  z-index: 1200;
}
.UlSuggestions::-webkit-scrollbar {
  -webkit-appearance: none;
  padding-right: 1px;
}
.UlSuggestions::-webkit-scrollbar:vertical {
  width: 10px;
}
.UlSuggestions::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .5);
  height: 30px;
}
.LiSuggestions {
  padding: .5em;
  cursor: pointer;
  border-bottom: solid rgb(207, 204, 204) 1px;
}
.LiSuggestions:last-child { border: 0; ;}
.LiSuggestions:hover{
  color: white;
  background-color: #0088ce;
}


@media screen and (max-width: 1023px) {
  .journey-input {
    flex-direction: column;
    justify-content: space-around;
  }
  .test {
    width: 100%;
  }
  .form-input-go-from {
    margin-bottom: 10px;
  }
}
