.detail-card-result {
    border: 1px solid #afafaf;
    border-radius: 1em;
    padding: 1.5em 1.5em .5em 1.5em ;
    margin: 1em auto 2em;
    color: #545454;
    font-family: "Avenir LT Std 35 Light", Arial, Helvetica, sans-serif;
}
.detail-result { width: 100%; }
.detail-result li:first-child { padding-bottom: 1.6em; }
.detail-result li:last-child { padding-top: 1.6em; }
.transportColor li:nth-child(2) {
    padding-bottom: 1em;
    padding-top: 1em;
}
.totalDuration i { 
    color: #0088ce;
    font-size: 1.2em;
}
.totalDuration strong {
    font-weight: normal;
    font-size: 1.2em;
    color: #1f1f1f;
}
.zoneTarif, .direction, .detail-result .time li:nth-child(2) { font-size: .875em; }
.detail-result .time li { line-height: 1.6em; }
.duration { color: #afafaf;}
.time { min-width: 4em; }
.transportColor {
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 1.2em;
}
.transportColor li { flex: 1; }
.transportColor li:first-child {
    padding-top: 0;
    text-align: center;
    color: #fff;
}
.transportColor li:last-child {
    display: flex;
    align-items: flex-end;
}
.transportColor li i {
    display: inline-block;
    padding: .2em .3em;
    font-size: .875em;
    color: #fff;
    border: 2px solid;
    border-radius: 1em;
}
.transportColor .whiteCircle {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #fff;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}
@media (min-width: 768px) { 
    .detail-result {
        margin: 0 auto;
        width: 50%;
    }
}