.result-card {
    margin: 1em auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.result-card > ul {
    padding: 1em;
    margin: .25em auto 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #AFAFAF;
    border-radius: .5em;
}
.result-card > ul > li {
    border-right: 1px solid #AFAFAF;
    text-align: center;
    min-height: 4em;
}
.result-card > ul > li:last-child {
    border-right: 0;
    padding-right: 0;
}
/****************/
.result-time, .result-duration, .result-price, .result-details {
    flex: 1;
}
/****************/
.result-card ul li.result-roadmap { 
    flex: 3; 
    padding-left: 1em;
    text-align: left;
}
.result-roadmap span::after {
    content: ' • ';
    font-size: 1.3rem;
    color: #ccc;
}
.result-roadmap span:last-child::after {
    content: '';
}
/***************/
.result-details {
    cursor: pointer;
    text-transform: uppercase;
    color: #0088ce;
}
