.clock {
  width: 30%;
}
.input-text {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #0088ce;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: initial;
  box-shadow: initial;
  line-height: normal;
  font-weight: 400;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  padding-left: 1rem;
  outline: 0 #00669b;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.input-text:disabled {
  background-color: #d9d9d9;
}
.input-text:focus {
  box-shadow: 0px 0px 0px 3px rgb(0, 136, 206);
}

.hours-button {
  border: 0;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  width: 20%;
  line-height: normal;
  margin-left: -50px;
  outline: none;
  height: 100%;
  justify-content: center;
  align-items: center

}

.hours-button:focus {
  outline: 0;
}

.hoursUl {
  margin-top: .5em;
  list-style: none;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.18);
  border: 1px solid #0088ce;
  background-color: #fff;
  padding: 0.5rem 0;
  max-height: 160px;
  overflow-y: scroll;
  width: 6rem;
  font-size: 0.8rem;
  position: absolute;
  z-index: 1200;
 /*
 max-height: 10em;
  overflow-y: scroll;
  width: 7em;
  font-size: 1em;
  */
}
.hoursUl::-webkit-scrollbar {
  -webkit-appearance: none;
  padding-right: 1px;
}
.hoursUl::-webkit-scrollbar:vertical {
  width: 8px;
}
.hoursUl::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .5);
  height: 30px;
  border:none
}
.hoursLi {
  display: block;
  background-color: #fff;
  color: #0088ce;
  min-height: 2.4rem;
  padding: 1rem;
  /*
  min-height: 1em;
  line-height: 1.5em;
  padding: .5em 1em;
  */
}
.selected {
  font-weight: bold;
}
.hoursLi:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}
