.clock {
  position: relative;
}
.input-text {
  background-color: #ffffff;
  border: 2px solid #0088ce;
  border-radius: 0.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: initial;
  box-shadow: initial;
  min-height: 5rem;
  line-height: normal;
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
  padding-left: 1rem;
  outline: 0 #00669b;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.input-text:disabled {
  background-color: #d9d9d9;
}
.input-text:focus {
  box-shadow: 0px 0px 0px 3px rgb(0, 136, 206);
}

.hours-button {
  border: 0;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  width: 2.8rem;
  line-height: normal;
  margin-left: -50px;
  min-height: 5rem;
  padding: 1rem;
  outline: none;
}
.hours-button:focus {
  outline: 0;
}

.hoursUl {
  margin-top: 1rem;
  list-style: none;
  text-align: left;
  border-radius: 0.4rem;
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.18);
  border: 0.1rem solid #0088ce;
  background-color: #fff;
  padding: 0.5rem 0;
  max-height: 18.4rem;
  overflow-y: scroll;
  width: 6rem;
  font-size: 1.2rem;
  position: absolute;
  z-index: 1100;
}
.hoursLi {
  display: block;
  background-color: #fff;
  color: #0088ce;
  min-height: 2.4rem;
  line-height: 2.4rem;
  padding: 1rem;
}
.selected {
  font-weight: bold;
}
.hoursLi:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}
