.container.banner-scnf {
    overflow: visible;
    height: 15em;
}

.banner {
    background-image: url(../../../resources/img/banner-transilien.jpg);
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30em;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 3em;

}
.banner a {
    display: block;
    min-height: 30em;
}